@keyframes fade {
    to {
        opacity: 0
    }
}

@keyframes hide {
    to {
        visibility: hidden
    }
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    to {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0%,to {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    to {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0%,to {
        transform: translateX(0)
    }

    50% {
        transform: translateX(80px)
    }
}

@-webkit-keyframes rainbow {
    0%,to {
        color: red
    }

    17% {
        color: orange
    }

    33% {
        color: #ff0
    }

    50% {
        color: green
    }

    67% {
        color: #00f
    }

    84% {
        color: purple
    }
}

@-ms-keyframes rainbow {
    0%,to {
        color: red
    }

    17% {
        color: orange
    }

    33% {
        color: #ff0
    }

    50% {
        color: green
    }

    67% {
        color: #00f
    }

    84% {
        color: purple
    }
}

@keyframes rainbow {
    0%,to {
        color: red
    }

    17% {
        color: orange
    }

    33% {
        color: #ff0
    }

    50% {
        color: green
    }

    67% {
        color: #00f
    }

    84% {
        color: purple
    }
}

@-webkit-keyframes swing {
    50% {
        -webkit-transform: rotate3d(0,0,1,-6deg);
        transform: rotate3d(0,0,1,-6deg)
    }

    to {
        -webkit-transform: rotate3d(0,0,1,6deg);
        transform: rotate3d(0,0,1,0deg)
    }
}

@keyframes swing {
    50% {
        -webkit-transform: rotate3d(0,0,1,-6deg);
        transform: rotate3d(0,0,1,-6deg)
    }

    to {
        -webkit-transform: rotate3d(0,0,1,0deg);
        transform: rotate3d(0,0,1,0deg)
    }
}

@font-face {
    font-family: derk;
    src: url(derk.otf)
}

@font-face {
    font-family: modes;
    src: url(modes.ttf)
}

.noise {
    z-index: 1
}

.fixed-fluid {
    top: 0;
    left: 0;
    opacity: .12;
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none
}

html {
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none
}

#outerCircleText {
    color: #fcfcfc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    cursor: default
}

#outerCircleText div {
    position: relative
}

#outerCircleText div div {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center
}

#brand,html {
    font-family: "Roboto Mono",monospace
}

#brand {
    margin-left: .65pc;
    text-decoration: none;
    text-shadow: 0 0 .4em #e4e3e3;
    font-weight: 700
}

.example::-webkit-scrollbar {
    display: none
}

*,::after,::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}

body {
    background: #111;
    font-family: "Roboto Mono",monospace;
    background-color: #000!important;
    background: #fff
}

.back {
    width: 100%
}

#overlay-toggle {
    position: absolute;
    display: none
}

.overlay {
    z-index: 1;
    background-color: #000
}

.overlay label {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vw;
    color: #fff;
    font-size: 2.5rem
}

.no-hover {
    display: block
}

.hover {
    display: none
}

.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 100vh;
    min-width: 100vw
}

.sparkle {
    background-image: url(https://media.discordapp.net/attachments/987149728800198686/991834200309248070/sparkle.gif)
}

.bg-video {
    z-index: -1
}

a,a:hover,body {
    color: #fff!important
}

a {
    text-decoration: none
}

a:hover {
    transition: .4s!important
}

#center,#socials {
    position: fixed;
    text-align: center;
    font-family: "Consolas",monospace
}

#center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

#socials {
    top: 55.7%;
    left: 40%;
    right: 40%
}

#overlay-toggle:checked~.overlay {
    animation-fill-mode: forwards;
    animation-name: fade,hide;
    animation-delay: 0s,600ms;
    animation-duration: 600ms,1ms
}

#overlay-toggle:checked~.overlay label {
    animation-fill-mode: forwards;
    animation-name: fade;
    animation-delay: 0s;
    animation-duration: 500ms
}

@media (hover: hover) {
    .hover {
        display:block
    }

    .no-hover {
        display: none
    }
}

* {
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym46.cur),auto!important
}

.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial,sans-serif;
    text-shadow: 0 0 5px #000;
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall,snowflakes-shake;
    -webkit-animation-duration: 10s,3s;
    -webkit-animation-timing-function: linear,ease-in-out;
    -webkit-animation-iteration-count: infinite,infinite;
    -webkit-animation-play-state: running,running;
    animation-name: snowflakes-fall,snowflakes-shake;
    animation-duration: 10s,3s;
    animation-timing-function: linear,ease-in-out;
    animation-iteration-count: infinite,infinite;
    animation-play-state: running,running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s,0s;
    animation-delay: 0s,0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s,1s;
    animation-delay: 1s,1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s,.5s;
    animation-delay: 6s,.5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s,2s;
    animation-delay: 4s,2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s,2s;
    animation-delay: 2s,2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s,3s;
    animation-delay: 8s,3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s,2s;
    animation-delay: 6s,2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s,1s;
    animation-delay: 2.5s,1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s,0s;
    animation-delay: 1s,0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s,1.5s;
    animation-delay: 3s,1.5s
}

.snowflake:nth-of-type(10) {
    left: 25%;
    -webkit-animation-delay: 2s,0s;
    animation-delay: 2s,0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s,2.5s;
    animation-delay: 4s,2.5s
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

@media only screen and (max-width: 600px) {
    h4 {
        position:absolute;
        text-transform: uppercase!important;
        font-size: 1em!important;
        font-family: "VCR OSD Mono",sans-serif!important;
        width: 70%;
        text-align: center;
        top: 0;
        left: 0;
        padding: 20px 60px 60px;
        margin-left: 150px;
        z-index: 0
    }
}

.rainbow {
    text-shadow: 2px 2px 4px #000;
    -webkit-animation: rainbow 5s infinite;
    -ms-animation: rainbow 5s infinite;
    animation: rainbow 5s infinite
}

.logo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #242526;
    text-align: center
}

.animated,.animatedfast {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animatedfast {
    -webkit-animation-duration: .3s;
    animation-duration: .3s
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY {
    -webkit-animation-duration: .75s;
    animation-duration: .75s
}

.swing {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing
}

.hanginggirl {
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden!important;
    max-height: 400px;
    filter: grayscale(1) contrast(200%)
}

.spoiler {
    background-color: #fff;
    color: #fff
}

.spoiler:hover {
    background-color: #000
}

p,span {
    color: #fff;
    font-family: monospace
}
